In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
movie = pd.read_csv("/data/SuperMod/IMDB Dataset.csv")

In [26]:
supermod = pd.read_csv('/data/SuperMod/training_data_supermod.csv')

In [6]:
movie.head()

   Unnamed: 0                                       comment_text  toxicity
0           0  One of the other reviewers has mentioned that ...  positive
1           1  A wonderful little production. <br /><br />The...  positive
2           2  I thought this was a wonderful way to spend ti...  positive
3           3  Basically there's a family where a little boy ...  negative
4           4  Petter Mattei's "Love in the Time of Money" is...  positive

In [8]:
movie["toxicity"] = movie.toxicity.map(lambda x: 0 if x == 'positive' else 1)

In [9]:
movie.head()

   Unnamed: 0                                       comment_text  toxicity
0           0  One of the other reviewers has mentioned that ...         0
1           1  A wonderful little production. <br /><br />The...         0
2           2  I thought this was a wonderful way to spend ti...         0
3           3  Basically there's a family where a little boy ...         1
4           4  Petter Mattei's "Love in the Time of Money" is...         0

In [7]:
supermod.head()

   id                                       comment_text  toxicity
0   0  here is the latest physical tab template.  row...         0
1   1  What's up in the hood?  It sounds like you guy...         1
2   2  Yo Dr. Ake -\r\n\r\nI WENT AND GOT MEASURED LA...         1
3   3  this request has been pending your approval fo...         0
4   4  Yes, Elvis is still alive and reading these pu...         1

In [10]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(movie.comment_text, movie.toxicity, test_size=0.10, random_state=8)

In [27]:
Xs_train, Xs_test, ys_train, ys_test = train_test_split(supermod.comment_text, supermod.toxicity, test_size=0.10, random_state=8)

In [28]:
supermod_train = pd.DataFrame({'comment_text' : Xs_train,
                                'toxicity' : ys_train }, 
                                columns=['comment_text','toxicity'])

In [29]:
supermod_test  = pd.DataFrame({'comment_text' : Xs_test,
                                'toxicity' : ys_test }, 
                                columns=['comment_text','toxicity'])

In [30]:
movie_train  = pd.DataFrame({'comment_text' : Xm_train,
                                'toxicity' : ym_train }, 
                                columns=['comment_text','toxicity'])

In [31]:
movie_test  = pd.DataFrame({'comment_text' : Xm_test,
                                'toxicity' : ym_test }, 
                                columns=['comment_text','toxicity'])

In [32]:
len(movie_train)

45000

In [33]:
len(movie_test)

5000

In [34]:
len(supermod_train)

7380

In [25]:
movie_test.head()

                                            comment_text  toxicity
40552  I gave this film my rare 10 stars.<br /><br />...         0
6106   This is one of the best films I have seen in y...         0
27831  About halfway through, I realized I didn't car...         1
28253  The only good part of this movie was the endin...         1
37221  After reading several comments, I felt I had t...         0

In [35]:
supermod_train.to_csv('/data/SuperMod/data_supermod_train.csv')

In [36]:
supermod_test.to_csv('/data/SuperMod/data_supermod_test.csv')

In [37]:
movie_train.to_csv('/data/SuperMod/imdb_train.csv')

In [38]:
movie_test.to_csv('/data/SuperMod/imdb_test.csv')

In [ ]:
movie_test.to_csv('/data/SuperMod/imdb_test.csv')

In [41]:
import pickle as pkl
with open('/data/SuperMod/infer_result.pkl', 'rb') as w:
    old_result = pkl.load(w)

old_result

array([0.08584689, 0.10278593, 0.08584059, 0.08583173, 0.08973207,
       0.08585303, 0.12729162], dtype=float32)